<!DOCTYPE html>
<html>
    <head>
        <title>ImageSearchService</title>
    </head>
    
    <body>
        <h1>Here is a app to serve image search!</h1>
        <div>
            <h3>Example Usage:</h3>
            <ul>
                <li>
                    <p>Please attach the query string at the end of url like this:</p>
                    <a href='https://image-search-layer-masonlee.c9users.io/search/funny' target='blank'>https://image-search-layer-masonlee.c9users.io/search/funny</a>
                </li> 
                <li>
                    <p>And you can add a 'offset' id to browse the later results:</p>
                    <a href='https://image-search-layer-masonlee.c9users.io/search/funny?offset=20' target='blank'>https://image-search-layer-masonlee.c9users.io/search/funny?offset=20</a>
                </li>                 
                <li>
                    <p>This is a link to the recent search:</p>
                    <a href='https://image-search-layer-masonlee.c9users.io/latest' target='blank'>https://image-search-layer-masonlee.c9users.io/latest</a>
                </li>
            </ul>
        </div>
    </body>
</html>